<div class="nav-bottom fixed bottom-0 flex justify-between items-center w-full p-3 bg-zinc-800">
    <a class="" href="/home">Home</a>
    <a class="" href="/post">post</a>
    <a class="" href="/search">search</a>
    <a class="" href="/profile">profile</a>
</div>

</body>
</html>